{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script>
            $(function() {
              $( "#datepicker" ).datepicker();
            });
        </script>
    </head>
    <body>
        <div id="container">
            <h3> Please print the date of the trip to fetch the data </h3>
            <form method="GET" action=".">
                <input type="text" id="datepicker" name="trip_date">
                <input type="submit" value = "Submit">
            </form>


            {% if prev_date_resource %}
                <a href="?trip_date={{ prev_date_resource }}">prev day</a>
            {% endif %}

            {% if next_date_resource %}
            <a href="?trip_date={{ next_date_resource }}"> next day</a> 
            {% endif %}

            {% if trip_data %}
                <h3> Trip data for {{ trip_date|date:"d M Y" }} </h3>
                <p> 
                    Number of trips = <b> {{ trip_count }} </b> 
                </p>
                <table border="1">
                    <tr>
                        <th rowspan="2"> # </th>
                        <th rowspan="2"> distance (mi) </th>
                        <th rowspan="2"> user </th>
                        <th rowspan="2"> driver </th>
                        <th rowspan="2"> speeding score </th>
                        <th rowspan="2"> event score </th>
                        <th rowspan="2"> started at </th>
                        <th rowspan="2"> ended at </th>
                        <th rowspan="2"> fuel cost($) </th>
                        <th rowspan="2"> trip duration(min) </th>
                        <th colspan="2"> average (kmpl) </th>
                        <th colspan="3"> duration over </th>
                    </tr>
                    <tr>
                        <th> epa </th>
                        <th> actual </th>
                        <th> 80 </th>
                        <th> 75 </th>
                        <th> 70 </th>
                    </tr>
                    {% for trip in trip_list %}
                        <tr>
                            <td> <a href = {{ trip.url }}>{{ trip.trip_index }}</a>
                            </td>
                            <td>
                                {{ trip.distance_mi }} 
                            </td>
                            <td>
                                <a href = {{ trip.user }}>user_url </a>
                            </td>
                            <td>
                                <a href = {{ trip.driver }}>driver_url </a>
                            </td>
                            <td>
                                {{ trip.score_speeding }}
                            </td>
                            <td>
                                {{ trip.score_events }}
                            </td>
                            <td>
                                {{ trip.started_at|date:"f A" }}
                            </td>
                            <td>
                                {{ trip.ended_at|date:"f A " }}
                            </td>
                            <td>
                                {{ trip.fuel_cost_usd }}
                            </td>
                            <td>
                                {{ trip.duration_min }}
                            </td>
                            <td>
                                {{ trip.average_from_epa_kmpl }}
                            </td>
                            <td>
                                {{ trip.average_kmpl }}
                            </td>
                            <td>
                                {{ trip.duration_over_80_s }}
                            </td>
                            <td>
                                {{ trip.duration_over_75_s }}
                            </td>
                            <td>
                                {{ trip.duration_over_70_s }}
                            </td>

                        </tr>
                    {% endfor %}
                </table>
                <!-- <p> {{ trip_data }} </p> -->

                <div id="day-summary">
                    <h3> Day summary {{ day_summary_tweet|safe}} </h3>
                    <p> Total distance travelled (mi) = {{ total_dist_mi }} </p>
                    <p> Total time travelled (min) = {{ total_duration_min }} </p>
                    <p> Total fuel consumed (Gallons) = {{ total_fuel_consumed_g }} </p>
                    <p> Total fuel cost (usd) = {{ total_fuel_cost_usd }} </p>
                </div>
            {% else %}
                {% if trip_date %}
                    <h3> No trips on {{ trip_date|date:"d M Y" }} </h3>
                {% endif %}
            {% endif %}
        </div>
    </body>
</html>
